html {
	scroll-behavior: smooth;
	font-size: 10px;
	box-sizing: border-box;
}

/* Box sizing rules */
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 2rem;
	line-height: 1.5;
	color: #404040;
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont,
		Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Remove default padding */
ul {
	padding: 0;
	list-style: none;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.menu-trigger {
	border: 0;
	border-radius: 4px;
	color: #ffffff;
	background: #4676d7;
	padding: 8px 16px;
	font-size: 2rem;
}

.menu-trigger:hover .menu-trigger:focus {
	color: #9555af;
	border-color: currentColor;
	background-color: white;
}

.page {
	width: 100%;
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 100%;
	max-width: 1024px;
	border: 1px solid #404040;
	border-radius: 3px;
	margin: 0 auto;
	margin: 2px 0;
	margin-top: 16px;
	margin-bottom: 16px;
}

.menu {
	background: #ffffff;
	border-radius: 4px;
	position: absolute;
	width: 300px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.menu li {
	padding: 8px 16px;
}
